<nav>
	<ul class="nav nav-stacked nav-side">        
		<li class="active">
			<a href="#js-overview">
				<i class="fa fa-star fa-fw"></i>
				<span>概览</span>
			</a>
		</li>
		<li class="">
			<a data-placement="right" href="#" title="Groups">
				<i class="fa fa-group fa-fw"></i>
				<span>下拉菜单</span>
			</a>
		</li>
		<li class="">
			<a data-placement="right" href="#" title="Groups">
				<i class="fa fa-clock-o fa-fw"></i>
				<span>下拉菜单</span>
			</a>
		</li>
		<li class="">
			<a data-placement="right" href="#" title="Groups">
				<i class="fa fa-exclamation-circle fa-fw"></i>
				<span>下拉菜单</span>
			</a>
		</li>
		<li class="">
			<a data-placement="right" href="#" title="Groups">
				<i class="fa fa-tasks fa-fw"></i>
				<span>下拉菜单</span>
			</a>
		</li>
 	</ul>            
</nav>