    <nav class="container-fluid navbar navbar-top ">
    	<div class="row navbar-top-main">
        	<div class="col-md-3 navbar-header navbar-top-logo">
        		<a>	
        			<span>
          			<i class="fa fa-server fa-lg"></i>
          			</span>
          			<div class="logo-text">
						<h3>JcaseX</h3>
					</div>
          		</a>
        	</div>
        	<div class="navbar-top-content col-md-9">
	        	<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav pull-right">
						<li class="hidden-sm hidden-xs">
							<div class="search">
								<form accept-charset="UTF-8" action="#" class="navbar-form pull-left" method="get">
									<span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
									<input class="search-input form-control" id="navbar-search" name="navbar-search" placeholder="Search" type="search">
								</form>
	
							</div>
						</li>
						<li class="visible-sm visible-xs">
							<a data-placement="bottom" data-toggle="tooltip" href="/search" title="Search"><i class="fa fa-search"></i>
							</a>
						</li>
						<li>
							<a data-placement="bottom" data-toggle="tooltip" href="/s/xubo.wuxb" title="Your snippets"><i class="fa fa-clipboard fa-fw"></i>
							</a>
						</li>
						<li class="hidden-xs">
							<a data-placement="bottom" data-toggle="tooltip" href="/projects/new" title="New project"><i class="fa fa-plus fa-fw"></i>
							</a>
						</li>
						<li>
							<a data-placement="bottom" data-toggle="tooltip" href="/profile" title="Profile settings"><i class="fa fa-cog fa-fw"></i>
							</a>
						</li>
					</ul>
				</div>

			<h1 class="title"><a href="#">Dashboard</a></h1>
        </div> 
      </div>
    </nav>