<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
	<div class="container">
		<div class="row">
			<div class="col-md-10">
				<div class="navbar-header">
	  				<a class="navbar-brand" href="#">Case X</a>
				</div>
			    <div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
				 		<li><a href="#">后台首页</a></li>
				        <li class="active"><a href="/admin/admin.vm">帐户管理</a></li>
				        <li class="dropdown">
				      		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">权限管理<span class="caret"></span></a>
				          	<ul class="dropdown-menu">
					            <li><a href="/admin/add.vm">新增权限</a></li>
					            <li><a href="#">权限设置</a></li>
				          	</ul>
				        </li>
				        <li class="dropdown">
				      		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Demos<span class="caret"></span></a>
				          	<ul class="dropdown-menu">
					            <li><a href="/demo/demo-from-style.vm">表单样式</a></li>
					            <li><a href="/demo/demo-sidemenu-style.vm">左侧菜单样式</a></li>
				          	</ul>
				        </li>
				        <li class="dropdown">
				      		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">会员管理<span class="caret"></span></a>
				          	<ul class="dropdown-menu">
					            <li><a href="/employee/add.vm">新增会员</a></li>
					            <li><a href="/employee/list.vm">会员列表</a></li>
				          	</ul>
				        </li>
				   	</ul>
				</div>
		 	</div>
			<div class="col-md-2">
		     	<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
			      		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">现代愚公-Bevis.Wu<span class="caret"></span></a>
			          	<ul class="dropdown-menu">
				            <li><a href="#">新消息(0)</a></li>
				            <li><a href="#">我的信息</a></li>
				            <li role="separator" class="divider"></li>
				            <li><a href="#">退出登录</a></li>
			          	</ul>
			        </li>
				</ul>
			</div>
		</div>
	</div>
</nav>