<!DOCTYPE html>
<html lang="zh-CN">

<head>
<meta charset="utf-8">
#showHead ("employee page powered by jcasex")

<link rel="stylesheet" href="/lib/bootstrap-3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="/lib/bootstrap-3.3.5/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/res/css/main.css">

<script src="/lib/jquery/jquery-1.11.3.min.js"></script>
<script src="/lib/bootstrap-3.3.5/js/bootstrap.min.js"></script>
</head>

<body #bodyAttributes ()>

$control.setTemplate("home:nav-top.vm")

<div class="clearfix navbar-separation">...</div>

<div class="container">
	<div class="row">
		<div class="col-md-9">
			$screen_placeholder
		</div>
		<div class="col-md-3">
			$control.setTemplate("home:nav-side.vm")
		</div>
	</div>
</div>

$control.setTemplate("home:footer.vm")
</body>
</html>
