<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration>
	<appender name="casex-console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS} %t %-5p %c[%M:%L] -- %m%n" />
		</layout>
		<param name="encoding" value="UTF-8"/>
	</appender>

	<logger name="org.apache.ibatis">
		<level value="debug" />
	</logger>
	
	<logger name="java.sql">
		<level value="debug" />
	</logger>
	 
	 
	<root>
		<priority value="debug"></priority>
		<appender-ref ref="casex-console" />
	</root>
</log4j:configuration>